<!--@subject Bine ați venit, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Dragă {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Bine ați venit pe {{var store.getFrontendName()}}. Pentru a vă loga, dați click pe <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Login</a> sau <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Contul meu</a> din partea de sus a paginii, și apoi adăugați email-ul dvs și parola.</p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Odată intrat în cont, veți putea face următoarele:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Să treceți mult mai repede prin procesul de achiziție</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Să verificați rapid statusul comenzilor</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Să vedeți comenzile mai vechi</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Să modificați datele de contact</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Să modificați parola</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Să adăugați adrese alternative de livrare (ale dvs sau ale prietenilor dvs)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;"> În cazul în care aveți orice întrebări, vă rugăm să ne contactați la <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> sau la numărul de telefon {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Vă mulțumim, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>